.wbpTip {
	border: 1px solid;
	display: block;
	line-height: 23px;
	text-align: center;
}
.wbpTip:hover {
	background-color: #D0FFD0;
	border-color: #40D040;
	color: #40D040;
	margin-bottom: 10px;
}
.wbpTip:not(:hover) ~ :not(.wbpTipLine) {
	display: none !important;
}
.wbpTip:hover ~ * {
	opacity: 0.5;
}
.wbpTip:hover + .wbpTipLine {
	display: none;
}
.wbpTipLine {
	padding-bottom: 20px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#wbpNavBar {
	margin-bottom: 20px;
}
#wbpNavBar .lev a, #wbpNavBar .lev2 a, #wbpNavBar .levmenu, #wbpNavBar .levmenu .lm_li:hover {
	background-image: none;
}
#wbpNavBar .lev a.lev_curr {
	background-color: transparent;
}
#wbpNavBar .left_nav_line fieldset .btns {
	margin-left: 148px;
}
#wbpNavBar .WB_left_nav .lev_edit .lev a {
	width: 200px;
}
.wbpSettings p {
	line-height: 150%;
}
.wbpSettings p + p {
	margin-top: 10px;
}
.wbpSettings em.W_vline {
	margin: 0 8px;
}
.wbpSettings table {
	line-height: 30px;
	margin-top: 8px;
}
.wbpSettings span.link {
	position: relative;
}
.wbpSettings span.link a > span {
	display: none;
}
.wbpSettings span.link a > span li {
	list-style: circle inside;
	padding-left: 1em;
	text-indent: -1em;
}
.wbpSettings span.link a > span li+li {
	margin-top: 5px;
}
.wbpSettings span.link a > span p+p {
	margin-top: 10px;
}
.wbpSettings span.link a:hover > span {
	display: block;
	position: absolute; 
	margin-top: 10px; 
	margin-left: -100px; 
	width: 250px; 
	padding: 5px; 
	z-index: 20000; 
	background: #FFFFB0;
	color: black;
	border: 1px solid #808000;
	text-align: left; 
	text-decoration: none;
	border-radius: 3px 3px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}
.wbpTabHeaders {
	float: left;
	width: 100px;
	margin-right: 10px;
}
.wbpTabHeaders a {
	display: block;
	padding: 6px 0;
	text-align: center;
	text-decoration: none;
}
.wbpTabHeaders a:hover {
	background-color: #C6E8F4;
}
.wbpTabHeaders a.current {
	background-color: #79C5E9;
	color: white;
	cursor: default;
}
.wbpInput {
	border: 1px solid #D2D5D8; 
	padding: 0 2px;
}
.wbpInlineInput {
	display: inline-block; 
	width: 30px; 
	margin: 0 3px; 
	vertical-align: middle;
}
.wbpInput input {
	width: 100%;
	height: 22px;
	border: 0;
	padding: 0;
	margin: 0;
	display: block;
}
.wbpSettings > div {
	margin-top: 15px;
}
.wbpSettings textarea {
	width: 440px;
	margin-top: 10px;
	border: 1px solid #D2D5D8;
}
.wbpSettings input[type="checkbox"], .wbpSettings input[type="radio"] {
	vertical-align: middle; 
	margin-right: 5px;
}
.wbpTabModules tr.wbpRowSpacing td {
	padding-top: 10px;
}
.wbpTabModules a>.W_ico16 {
	display: inline-block !important;
}
.wbpKeywordBlock {
	margin-top: 10px;
	border: 1px solid #D2D5D8;
	padding: 8px 8px 0;
}
.wbpKeywordBlock em {
	font-weight: bold;
	margin-right: 15px;
}
.wbpToolBtns {
	width: 105px;
	text-align: right;
}
.wbpToolBtns a + a {
	margin-left: 5px;
}
.wbpListWrapper {
	margin: 8px 0;
	max-height: 120px;
	overflow: hidden;
}
.wbpListWrapper:hover {
	overflow-y: auto;
}
.wbpKeywordsList {
	margin-top: -5px;
	line-height: 18px;
}
.wbpKeywordsList a {
	margin: 5px 5px 0 0;
	padding: 0 4px;
	border: 1px solid;
	display: inline-block;
	height: 18px;
	white-space: nowrap;
}
.wbpKeywordsList a:hover {
	text-decoration: none;
}
.wbpWhiteKeywordsList a {
	border-color: #008000;
	color: #008000;
}
.wbpWhiteKeywordsList a.regex {
	background-color: #80FF80;
}
.wbpWhiteKeywordsList a:hover {
	border-color: #008000;
	background-color: #D0FFD0;
}
.wbpBlackKeywordsList a{
	border-color: #D00000;
	color: #D00000;
}
.wbpBlackKeywordsList a.regex {
	background-color: #FFB0B0;
}
.wbpBlackKeywordsList a:hover {
	border-color: #FF0000;
	background-color: #FFD0D0;
}
.wbpGrayKeywordsList a {
	border-color: #808000;
	color: #808000;
}
.wbpGrayKeywordsList a.regex {
	background-color: #FFFF00;
}
.wbpGrayKeywordsList a:hover {
	border-color: #808000;
	background-color: #FFFFB0;
}
.wbpUserList > a {
	margin: 5px 5px 0 0;
	padding: 3px;
	border: 1px solid;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}